.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #4e584f;
    min-height: 50px;
    flex-wrap: wrap;  
    &-logo {
        justify-self: end;
    }
    &-nav__link {
        margin-left: 20px;
        color: #ffffff;
        opacity: .7;
        text-transform: uppercase;
        text-decoration: none;
        transition: opacity .2s linear;
        
        &:hover {
            opacity: 1;
        }

        &::first-child {
            margin-left: 0;
        }
    }
}


